@font-face {
    font-family: Gotham Pro; 
    src: url(../fonts/GothamPro/GothamPro-Medium.ttf);
}
@font-face {
    font-family: Montserrat; 
    src: url(../fonts/montserrat/Montserrat-SemiBold.ttf);
}
body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}
.rating_stars {
    display: flex;
    flex-direction: row;
    text-align: center;
    position: absolute;
    top: 24px;
    left: 342px;
}
.star {
    margin-right: 7px;
    vertical-align: top;
    width: 21.16px;
    height: 21.16px;
    background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);
    position: relative;
}
.star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    z-index: 1;
}
.star{
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}
.star:before {
    background: #F0BB65;
}
.no_active_star:before {
    background: #C1C0CD;
}
.gift {
    position: absolute;
    top: 24px;
    left: 43.7%;
    width: 19px;
    height: 19px;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    position: relative;

    height: 61px;
    background: #ffffff;
    margin: 16px 0 16px 0;
    border-radius: 5px;
    padding: 5px 30px 5px 38px;
}
.row a {
    text-decoration-style: none;;
}
.content_block {
    margin: 767px 135px 0 136px;
}
.block1 {
    position: absolute;
    width: 352px;
    height: 25px;
    left: 143px;
    top: 700px;

    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 25px;
    text-transform: uppercase;
}
.number {
    position: absolute;
    top: -10px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #3E3B4A;
}
.name {
    position: absolute;
    top: -14px;
    left: 225px;
    justify-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #33312C;
}
.block_end {
   position: absolute;
   top: 18px;
   left: 65.6%;
   display: flex;
}
.green {
    border: 1px solid #67BC6D;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px 14px;
    color: black;
    text-transform: uppercase;
}
.gray {
    border: 1px solid #DADADA;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px 14px;
    margin-left: 24px;
    color: black;
    text-transform: uppercase;
}
.red {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 8px 20px;
    margin-left: 24px;
    color: white;
    background-color: #E2455A;
    border-radius: 5px;
     text-transform: uppercase;
}
.logo {
   position: absolute;
   top: 17px;
   left: 95px;
   width: 107px;
   height: 35px;
}
.rub {
    position: absolute;
    top: -13px;
    left: 545px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    flex-wrap: wrap;
}
.btn_block {
    position: relative;
}
.btn, .btn2 {
    position: absolute;
    top: 5px;
    left: 500px;
    width: 165px;
	height: 42px;
	-webkit-transform: skew(-16deg);
	   -moz-transform: skew(-16deg);
	     -o-transform: skew(-16deg);
	border: 1px solid #DADADA;
    border-radius: 5px;
    background: #E5E5E5;
}
.btn2 {
    top: 80px;
}

.btn h5, .btn2 h5 {
    margin: 0 5px;
    transform: skew(16deg);
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    
    text-align: center;
    text-transform: uppercase;
    color: #191925;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    border-radius: 7px;
    width: 380px;
    height: 228px;
    top: 190px;
    margin: 0 15px 12px 0;
    flex-wrap: wrap;
}
.str_photo {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 344px;
    height: 35px;
    top: 130px;
    left: 22px;
    border-bottom: 1px solid #F5F5F6;
}
.str_photo img {
    position: absolute;
    top: -20px;
    width: 38px;
    height: 38px;
}
.str_logo {
    display: flex;
    flex-direction: row;
    
/*     position: absolute; */
/*     top: 207px;
    left: 22px; */
}
.str_logo img {
    width: 35px;
    height: 35px;
}
.logo1 {
    position: absolute;
   top: 175px;
    left: 14px;
}
.logo2 {
    position: absolute;
    top: 175px;
    left: 326px;
}
.sport {
    position: absolute;
    top: -8px;
    left: 21px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 24px;
    text-transform: uppercase;
    color: #5A3EC4;
}
.card h5 {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 20px;
    top: 13px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 17.5px;
    line-height: 24px;

    color: #000000;
}
.str_photo h6 {
    position: absolute;
    width: 203px;
    height: 24px;
    top:-48px;
    left: 45px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: #C1C0CD;

}
.str_photo h5 {
    position: absolute;
    width: 103px;
    height: 24px;
    
    top: -30px;
    left: 232px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: #C1C0CD;

}
.str_photo h4 {
    position: absolute;
    width: 50px;
    height: 24px;
    top: -48px;
    left: 290px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    color: #403E51;

}
.card_block {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    align-content: flex-start;
}
.block2 {
    position: absolute;
    top: 115px;
    left: 7px;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 19.5px;
    line-height: 25px;
    text-transform: uppercase;
}
.str_logo h6 {
    position: absolute;
    width: 50px;
    height: 24px;
    left: 163px;
    top: 146px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #C1C0CD;
}
.str_logo h5 {
    position: relative;
    top: 150px;
    left: 52px;
}
.str_logo h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #403E51;
}
.first {
    position: absolute;
    top: 160px;
    left: 55px;
}
.second {
    position: absolute;
    top: 160px;
    left: 248px;
}
.time {
    position: absolute;
    top: 168px;
    left: 167px;
    color: red;
}
.banner_block img {
    position: absolute;
    top: 190px;
    left: 789px;
    width: 32.8%;
}
.categories {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 135px;
    left: 797px;
}
.categories button {
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    border: none;
    background: none;
    text-transform: uppercase;
    margin-right: -5px;
}
.active {
    color: #5A3EC4;
}
@media only screen and (min-width:991px) and (max-width:1025px) {
    .content_block {
        margin-left: 5%;
        margin-right: -49%;
    }
    .categories {
        left: 56%;
    }
    .categories button {
        font-size: 16px;
    }
    .banner_block img{
        left: 56.5%;
        width: 400px;
    }
    .row {
        left: -15px;
        width: 93%;
    }
    .block_end {
        left: 950px;
    }
    .block1 {
        left: 5%;
    }
    .btn, .btn2 {
        left: 43%;
    }
    .card {
        width: 400px;
    }
}
@media only screen and (min-width:768px) and (max-width:990px) {
    .content_block {
        margin-left: 5%;
        margin-right: -49%;
    }
    .categories {
        left: 68%;
    }
    .categories button {
        font-size: 13px;
    }
    .banner_block img{
        width: 315px;
    }
    .row {
        left: -15px;
        width: 93%;
    }
    .block_end {
        left: 700px;
    }
    .block1 {
        left: 5%;
    }
}
@media only screen and (min-width:414px) and (max-width:767px) {
   .content_block {
        margin-left: 5%;
        margin-right: 10%;
    }
    .card {
        top: 10%;
        width: 110%;
        height: 270px;
    }
    .card_text {
        margin-bottom: 30px;
    }
    .card h5{
        width: 250px;
        margin-bottom: 10px;
    }
    .str_photo {
        padding-bottom: 15px;
        width: 85%
    }
    .str_photo h4 {
        top: -20%;
        left: 84%;
    }
    .str_photo h5 {
        width: 130px;
        left: 64%;
    }
    .str_photo img {
        margin-top: 20px;
    }
    .str_photo h6 {
        width: 100px;
        margin-top: 44px;
    }
    .str_logo img{
        padding-top: 15px;
    }
    .str_logo h4 {
        padding-top: 15px;
    }
    .str_logo h6 {
        top: 60%;
        left: 44%
    }
    .logo1 {
        left: 15%;
    }
    .logo2 {
        left: 75%;
    }
    .first {
        top: 70%;
        left: 10%;
    }
    .second {
        top: 70%;
        left: 70%;
    }
    .time {
        top: 65%;
        left: 45%;
    }
    .block1 {
        top: 80%;
        left: 12%;
        width: 320px;
    }
    .block2 {
        top: 3%;
        left: 0px;
    }
    .row {
        height: 160px;
        width: 85%;
    }
    .gift {
        top: 13%;
        left: 68%;
    }
    .rub {
        top: -10%;
        left: 75%;
    }
    .name {
        display: none;
    }
    .block_end {
        top: 58%;
        left: 5%;
    }
    .block_end a {
        display: flex;
        width: 66px;
        height: 30px;
        margin-right: -10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .grey, .red {
        padding-top: 9px;
    }
    .card_block {
        align-content: center;
        margin-left: 10%;
        height: 2000px;
    }
    .categories {
        width: 250px;
        flex-wrap: wrap;
        top: 7%;
        left: -2%;
    }
    .banner_block img {
       width: 110%;
       top: 1325px;
       left: -6.9%;
    }
    .btn {
        left: 28%;
    }
    .btn2 {
        top: -230px;
        left: 28%;
    }
    .rating_stars {
        top: 35%;
        left: 28%
    }
}
@media only screen and (min-width:300px) and (max-width : 411px) {
    .content_block {
        margin-left: 20px;
        margin-right: 80px;
    }
    .str_photo {
        padding-bottom: 5px;
    }
    .str_photo h4 {
        top: -20%;
        left: 84%;
    }
    .str_photo h5 {
        width: 130px;
        
    }
    .block1 {
        top: 107%;
        left: 6%;
        width: 320px;
    }
    .block2 {
        top: 3%;
        left: -5%;
        width: 270px;
    }
    .row {
        height: 160px;
        width: 109%;
    }
    .gift {
        top: 13%;
        left: 68%;
    }
    .rub {
        top: -10%;
        left: 75%;
    }
    .name {
        display: none;
    }
    .block_end {
        top: 58%;
        left: 5%;
    }
    .block_end a {
        display: flex;
        width: 70px;
        height: 30px;
        margin-right: -15px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .grey, .red {
        padding-top: 9px;
    }
    .card_block {
        align-content: center;
        margin-left: 10%;
        height: 2000px;
    }
    .categories {
        width: 250px;
        flex-wrap: wrap;
        top: 7%;
        left: -8%;
    }
    .banner_block img {
       width: 157%;
       top: 1160px;
       left: -14%;
    }
    .btn {
        left: 35%;
    }
    .btn2 {
        top: -370px;
        left: 35%;
    }
    .rating_stars {
        top: 35%;
        left: 25%
    }
    .card {
        top: 10%;
        left: 17%;
        width: 370px;
    }
}






